html, body, h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    
    
    }
    
    .header {
    
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 125px;
    }
    
    
    .d-flex{
    
        display: flex;
        min-height: 90px;
        align-items: center;
    
    
    }
    
    .container {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .logo {
    
    margin: -40px 0px 0px 80px;
    padding: 0px;
    
    
    }
    
    .btn{
    
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin: 0px 0px 40px 130px;
    
    
    }
    
    
    
    
    form input {
        min-height: 35px;
        color:white;
        padding: 5px 35px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
    
    }
    
    form input[type="button"] {
        background: rgb(255, 255, 255);
        font-style: normal;
        font-size: 13px;
        border-radius: 5px;
        padding: 6px 35px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: rgb(71, 71, 71);
        cursor: pointer;
    }
    
    form input[type="date"] {
    
    
    color: white;
    
    }
    
    
    .fon-slaider{
    
        width:1864px;
        height:1080px;
        overflow:hidden;
        position:relative;
    }
    
    .foto-slaid{
        position:absolute;
        animation:round 32s infinite;
        opacity:0;
        width:100%
    }
    @keyframes round {
    12.5%{opacity:1}
    20%{opacity:0}
    }
    img:nth-child(1){animation-delay:28s}
    img:nth-child(2){animation-delay:24s}
    img:nth-child(3){animation-delay:20s}
    img:nth-child(4){animation-delay:16s}
    img:nth-child(5){animation-delay:12s}
    img:nth-child(6){animation-delay:8s}
    img:nth-child(7){animation-delay:4s}
    img:nth-child(8){animation-delay:0}

    
    
    
    
    
    .text1 {
    
        position: absolute;
        top: 40%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgb(255, 255, 255);
    
}
    
    .Zakaz_biletov{
    
    position: absolute;
    
    margin-top: -600px;
    margin-left: 350px;
    
    
}
    
    ::placeholder{
    
    
        color:white;
}
    
    ::-webkit-calendar-picker-indicator{
    
    
        filter: invert(1);
}


.undersliderline{

height: 30px;
width: 100%;
background-color: rgb(0, 0, 0);
margin: 0px 0px 0px 0px;




}

.undersliderline2{

    height: 100px;
    width: 80%;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 0px 180px;
    border-radius: 10px;
    
    
    
}

.text2 {

color: white;
font-size: 25px;
font-weight: 800;
margin: 0px 0px 0px 65px;
padding: 30px 0px 0px 0px;



}

.ramki {

    display:inline-block;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    padding: 5px;
    margin: 50px -40px 0px 180px;
    border-radius: 10px;




}

.foto1{
    display: block;
    margin: -5px 0px 0px -5px;
    width: 390px;
    height: 390px;
    border-radius: 4px;




}

.text3{
    color: rgb(80, 5, 40);
    font-size: 20px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;




}

.text4{
    color: rgb(80, 5, 40);
    font-size: 20px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;




}

.text5{
    color: rgb(80, 5, 40);
    font-size: 20px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;




}

.line1{


    height: 100px;
    width: 30%;
    background-color: rgb(222, 235, 49);
    margin: 100px 0px 0px 650px;
    border-radius: 10px;



}

.text6{


    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 800;
    margin: 0px 0px 0px 225px;
    padding: 30px 0px 0px 0px;
    



}

.stock-box{

    display:inline-block;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    width: 1280px;
    height: 600px;
    padding: 5px;
    margin: 50px -40px 0px 300px;
    border-radius: 10px;




}

.stock-foto{


    display: block;
    margin: -5px 0px 0px -5px;
    width: 1270px;
    height:590px;
    border-radius: 4px;



}

.text7{


    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
    margin: -500px 0px 0px 0px;
    padding: 35px 0px 0px 0px;
    text-align: center;



}

.button{


    background: rgb(255, 255, 255);
    margin: 80px 0px 0px 240px;
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
    padding: 13px 40px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
    cursor: pointer;
text-decoration: none;
}

.line2{

    margin: 200px 0px 0px 0px;
    width: 100%;
    background-color: black;
    height: 350px;



}

.text8{


    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 0px;
    text-align: center;




}
.text-input{

    border: 1px solid #FFFFFF;
    width: 370px;
    border-radius: 8px;
    height: 65px;
    margin: 50px 0px 0px 450px;
}

input[type="mail"]{
    display: inline-block;
    color:#ffffff;
    width: 370px;
    height: 65px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px 0px 10px 50px;
    transition: all 0.1s ease-out;
}

.text-button{
    
    margin: 50px 0px 0px 525px;


}
input[type="button"]{
    background: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    padding: 22px 40px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}


.ramka2 {
    margin: -200px 0px 0px 1000px;

width: 350px;
height: 200px;
border-radius: 5px;
border: 2px solid white;
background:transparent;


}

.text9{

color: white;
font-size: 16px;
font-weight: 800;
margin: 60px 0px 0px 50px;
padding: 0px;


}

.text10{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 800;
    margin: 100px 0px 0px 500px;
    padding: 0px;
    


}

.box-otziv1{
margin: 30px 0px 0px 350px;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid black;
    background:transparent;





}

.otziv1{
margin: 20px 0px 0px 20px;
height: 100px;
width: 100px;
border-radius: 50%;





}

.text11{

    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    


}

.text12{

    color: rgb(139, 109, 250);
    font-size: 16px;
    font-weight: 800;
    margin: -140px 0px 0px 150px;
    padding: 0px;



}

.text13{


    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 800;
    margin: -575px 0px 0px 1100px;
    padding: 0px;


}

.text14 {

    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 800;
    margin: 50px 0px 0px 900px;
    padding: 0px;




}


.underheader{

margin: 300px 0px 0px 0px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 150px;


}

.text15{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    margin: 0px 0px 0px 200px;
    padding: 55px;
}

.text16{

    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    margin: -80px 0px 0px 1350px;
    padding: 0px;



}